.hd-navbar {
	background-color: #0066CC;
	height: 50px;
}

.hd-nav {
	padding-left: 10px;
	padding-top: 50px;
	font-weight: bold;
	color: white;
}

.hd-brand {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 7px;
}

.hd-navbar>.glyphicon {
	padding-top: 13px;
	color: white;
	font-size: 1.8em;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}

.hd-navbar-dropdown {
	background-color: white;
	text-align: center;
	width: 100%;
}

.hd-navbar-btn {
	line-height: 35px;
	color: white;
}

.hd-navbar-btn:hover {
	font-weight: bold;
	color: white;
}

.hd-navbar-btn:focus {
	outline: none;
	color: white;
}

.hd-navbar-mobile-btn {
	font-weight: bold;
	padding: 10px;
	color: #0066CC;		
}

.hd-navbar-mobile-btn:hover {
	font-weight: bold;
	background-color: #6D9BC9;
	color: white;
}