<h1>Webdev</h1>
  
<div class="panel panel-default">
  <div class="panel-body">
    Here's my <a href="https://github.com/hendryau">github page</a>. Check out some of the things
    I've built below.
  </div>
</div>

  
    <!-- TODO make a directive -->
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="http://ihadojo.com/new/index.html"><img class="hd-thumbnail" src="imgs/ropes.png"></a>
        <h3>ihadojo.com</h3>
        <p>Website for the Beikoku Shidokan Association.</p>
      </div>
    </div>
    
