body header h1 {
	display: none;
}

body section h1 {
	display: none;
}

img {
	max-width: 100%;
}

body {
	padding-right: 15px;
  	padding-left: 15px;
  	line-height: 1.5em;
  	margin-right: auto;
  	margin-left: auto;
  	font-family: Verdana, Geneva, sans-serif;
}

body > header, body > footer {
	text-align: center;
}

body > section > section {
	padding: 10px;
}

body > header,
body > section > section,
body > footer > section {
	margin-top: 20px;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	body > section {
		padding-left: 25%;
		padding-right: 25%;
	}
}

body {
	background-color: #005280;
}
h2, p {
	color: #005280;
}
body > section > section {
	background-color: white;
}
body > footer{
	color: #5ba8ff;
}
body > section > section > footer {
	color: #a8a8a8;
}