---
layout: post
title: Multi-User WebSocket Example with Angular
summary: A quick example of WebSocket api usage with Angular to facilitate a real-time multi-user application.
forkUrl: https://github.com/hendryau/Multi-User-WebSocket-Example
---

<p>Every website you visit is a request to a server for some stuff. This is HTTP in a nutshell, the backbone of the internet. But what if a web page doesn't know what to ask for? What if the server has to tell its client something? Consider using WebSockets.</p>

<p>This sample application consists of a page that renders modifiable data. If the page is viewed by multiple clients, they will all see the same data. If a client creates, deletes, or updates data, the change will be broadcast by the server to all clients so they can update their rendered data.</p> 

<p>I've assembled a server which hosts the WebSocket endpoints as well as an Angular application. This makes standing it up a cinch. As an added bonus, I get to reuse a decent bit code in <i>both</i> the client and server, but more on that later.</p>

<p>If you want to change ports or your domain, modify <span class="code">app/server-config.ts</span>. By default the port is set to <span class="code">1502</span> and domain is set to <span class="code">localhost</span>. Note that if you want to test this app across multiple machines you must provide a valid domain or ip address (not localhost).</p>

<p>The data used in this example is mocked and described by the <span class="code">Data</span> interface:</p>

<pre>
export interface Data {
    id: number
}
</pre>

<h3>The Command Pattern</h3>

<p>This sort of multi-user experience lends itself to the command pattern. Each message sent via a WebSocket is a command. The command specifies which data needs changing and the callback which will execute the change. Since these messages will be JSONified and sent across the network, a <span class="code">cmdType</span> property indicates what type of command it is. In turn, this property is used to rebuild the <span class="code">Command</span> once it's received. The execute callback takes a <span class="code">Data[]</span>, the data the consumer wants to act upon.<p/>

<pre>
import {Data} from "../model/data";

export interface Command {
    data: Data
    cmdType: string
    execute: (dataArr: Data[]) => void
}
</pre>

<p>Three types of commands implement the <span class="code">Command</span> interface:</p>

<pre>
import {Command} from "./command";
import {Data} from "../model/data";

export class CreateCommand implements Command {

    public static CREATE: string = "CREATE";

    constructor(public data: Data) { }

    public cmdType: string = CreateCommand.CREATE;

    public execute(dataArr: Data[]): void {
        dataArr.push(this.data);
    }

}
</pre>

<pre>
import {Command} from "./command";
import {Data} from "../model/data";

export class DeleteCommand implements Command {

    public static DELETE: string = "DELETE";

    constructor(public data: Data) { }

    public cmdType: string = DeleteCommand.DELETE;

    public execute(dataArr: Data[]) {
        var dataInstance = dataArr.find(d => d.id === this.data.id );
        dataArr.splice(dataArr.indexOf(dataInstance), 1);
    }

}
</pre>

<pre>
import {Command} from "./command";
import {Data} from "../model/data";

export class UpdateCommand implements Command {

    public static UPDATE: string = "UPDATE";

    constructor(public data: Data) { }

    public cmdType: string = UpdateCommand.UPDATE;

    public execute(dataArr: Data[]) {
        var dataInstance = dataArr.find(d => d.id === this.data.id);
        for (let k in this.data) {
            if (k === "id") {
                continue;
            }
            dataInstance[k] = this.data[k];
        }
    }

}
</pre>

<h3>The Server</h3>

<p>Issuing <span class="code">npm run</span> to your console executes <span class="code">server.ts</span>, the application entry point. This instantiates a new <span class="code">WebSocketServerWrapper</span>, a wrapper class I wrote. It wraps a <a href="https://github.com/websockets/ws">WebSocketServer</a>, a WebSocket implementation for Node. For this example, I've integrated it with <a href="http://expressjs.com/">Express</a>. Once the server is up, it's ready to receive messages. Three things are tracked by the server... <span class="code">WebSocketServerWrapper#sockets</span> (the open WebSocket connections), <span class="code">WebSocketServerWrapper#dataArr</span> (the mocked database), and <span class="code">WebSocketServerWrapper#idCounter</span>. The <span class="code">idCounter</span> is a quick way to assign unique ids every time a client asks to create a new <span class="code">Data</span> object.</p>

<pre>
import {CommandUtil} from "./app/command/command-util";
import {Command} from "./app/command/command";
import {CreateCommand} from "./app/command/create.command";
import {Data} from "./app/model/data";
import {MOCKED_DATA} from "./app/model/mocked-data";
import {SERVER_CONFIG} from "./app/server.config";

class WebSocketServerWrapper {

    constructor() {
        let server = require("http").createServer(),
            WebSocketServer = require("ws").Server,
            express = require("express"),
            app = express(),
            port = SERVER_CONFIG.port;

        this.initWss(new WebSocketServer({server: server}));

        app.use(express.static(__dirname));
        server.on("request", app);
        server.listen(port, () => console.log("Listening on " + server.address().port + "..."));
    }

    private sockets: any[] = [];

    private dataArr: Data[] = MOCKED_DATA;

    private idCounter: number = this.dataArr.length;

    private initWss(wss: any): void {
        wss.on("connection", (ws: any) => {
            console.log("Socket opened.", this.sockets.length+1, "open WebSockets.");
            this.initSocket(ws);
        });
    }

    private initSocket(ws: any): void {
        this.sockets.push(ws);

        ws.on("close", () => {
            console.log("Socket closed.", this.sockets.length, "open WebSockets.");
            this.sockets.splice(this.sockets.indexOf(ws), 1);
        });

        ws.on("message", (msg: any) => {
            console.log(msg);

            let cmdJson: any = JSON.parse(msg);

            let cmd: Command = CommandUtil.fromJson(cmdJson);

            if (cmd.cmdType === CreateCommand.CREATE) {
                cmd.data.id = this.idCounter++;
            }

            cmd.execute(this.dataArr);

            this.sockets.forEach(socket => {
                socket.send(JSON.stringify(cmd));
            });
        });

        this.dataArr.forEach(d => {
            ws.send(JSON.stringify(new CreateCommand(d)))
        });
    }

}

(() => new WebSocketServerWrapper())();
</pre>

<p>Notice that every time a new WebSocket connection is established, the server iterates over each <span class="code">Data</span> entry in its <span class="code">dataArr</span> and issues a corresponding <span class="code">CreateCommand</span>. This tells the newly connected client that there is new data to render. This is the only case in which a command originates from the server directly and not a client.</p>

<h3>The Client</h3>

<p>The client subscribes to an injectable service, <span class="code">WebSocketService</span>, and waits for messages. This service wraps a static WebSocket singleton. Using this paradigm, any number of components/message consumers can subscribe to <span class="code">WebSocketService#onMessage()</span> and act accordingly. Here's the service:</p>

<pre>
import {Injectable} from "@angular/core";
import {Observable} from "rxjs/Rx";
import {SERVER_CONFIG} from "../server.config";

@Injectable()
export class WebSocketService {

    private static socket: WebSocket = new WebSocket("ws://" + SERVER_CONFIG.domain + ":" + SERVER_CONFIG.port);

    private static onOpenObs: Observable<MessageEvent> = Observable.fromEvent(WebSocketService.socket, "open");

    private static onMessageObs: Observable<MessageEvent> = Observable.fromEvent(WebSocketService.socket, "message");

    public onMessage(): Observable<MessageEvent> {
        return WebSocketService.onMessageObs;
    }

    public onOpen(): Observable<MessageEvent> {
        return WebSocketService.onOpenObs;
    }

    public send(msg: string): void {
        WebSocketService.socket.send(msg);
    }

}
</pre>

<p>The bootstrapped component, <span class="code">RootComponent</span>, subscribes to <span class="code">WebSocketService#onMessage()</span> in its constructor. Whenever a message comes in, the client acts. Here is where the code reusage I mentioned earlier comes in. The same mechanism which the server uses to apply commands to its data is also used by the client. All messages that are received by the client are assembled into a <span class="code">Command</span> and executed against the clients's data array. This way, the client's data is always reflective of the server's. Awesome!</p>

<pre>
import {Component} from "@angular/core";
import {Command} from "../command/command";
import {CommandUtil} from "../command/command-util";
import {CreateCommand} from "../command/create.command";
import {Data} from "../model/data";
import {WebSocketService} from "../services/web-socket.service";

@Component({
    selector: "root",
    template: `
        &lt;button (click)="createData()"&gt;New&lt;/button&gt;
        &lt;data *ngFor="let data of dataArr" [data]="data"&gt;&lt;/data&gt;
    `
})
export class RootComponent {

    private dataArr: Data[] = [];

    constructor(private webSocketService: WebSocketService) {
        this.webSocketService.onMessage().subscribe((msgEvt: MessageEvent) => {
            let cmdJson: any = JSON.parse(msgEvt.data);
            let cmd: Command = CommandUtil.fromJson(cmdJson);
            cmd.execute(this.dataArr);
        });
    }

    private createData(): void {
        this.webSocketService.send(JSON.stringify(new CreateCommand({ id: null })));
    }

}
</pre>

<p>I've implemented a more granular component representation for each data entry. It is also injected with the <span class="code">WebSocketService</span> which it uses to issue update and delete commands to the server by calling <span class="code">WebSocketService#send(msg: string)</span>.</p>

<pre>
import {Component, Input} from "@angular/core";
import {WebSocketService} from "../services/web-socket.service";
import {Data} from "../model/data";
import {DeleteCommand} from "../command/delete.command";
import {UpdateCommand} from "../command/update.command";

@Component({
    selector: "data",
    template: `
        &lt;label&gt;id: {{data.id}}&lt;/label&gt;
        
        &lt;form (ngSubmit)="addField()"&gt;
            &lt;input name="newField" type="text" [(ngModel)]="newField" placeholder="field name" required&gt;
            &lt;button type="submit"&gt;Add Field&lt;/button&gt;
        &lt;/form&gt;
        
        &lt;button (click)="deleteData()"&gt;Delete&lt;/button&gt;
        
        &lt;div *ngFor="let k of getDataKeys()"&gt;
            &lt;label&gt;{{k}}:&lt;/label&gt;
            &lt;input type="text" [(ngModel)]="data[k]" (ngModelChange)="updateData()"&gt;
        &lt;/div&gt;
    `
})
export class DataComponent {

    constructor(private webSocketService: WebSocketService) { }

    @Input() private data: Data;

    private newField: string;

    public getDataKeys(): string[] {
        return Object.keys(this.data || {}).filter(k => k != "id");
    }

    private deleteData(): void {
        this.webSocketService.send(JSON.stringify(new DeleteCommand(this.data)));
    }

    private updateData(): void {
        this.webSocketService.send(JSON.stringify(new UpdateCommand(this.data)));
    }

    private addField(): void {
        this.data[this.newField] = "";
        this.newField = "";
        this.updateData();
    }

}
</pre>

<p>Notice that the input element inside of the <span class="code">ngFor</span> binds to the <span class="code">(ngModelChange)</span> event which in turn calls <span class="code">DataComponent#updateData()</span>. This event fires every time the field value is modified, as opposed to the plain <span class="code">(change)</span> event, which only fires after the input loses focus. This way, each keystroke is seen by all clients.</p>

<p>The implementation of <span class="code">DataComponent#getDataKeys()</span> is inefficient. It returns a new Object every time it's called, so the view updates much more frequently than it should. I've done it this way because you can't use <span class="code">ngFor</span> to iterate over <span class="code">Object</span> keys directly. You could cache them, but when <span class="code">Data</span> has a field added or removed, you would have to detect it and re-cache the keys. To keep it simple, the less efficient implementation will suffice.</p>

<h3>Final Thoughts</h3>

<p>Once you know the protocol basics, WebSockets are a simple yet powerful tool which can be utilized to accomplish complex things that HTTP wasn't designed to do. Encapusulating the nitty gritty details in an Angular service and then injecting it into your components proves to be a durable and easy approach to integrating WebSockets into any Angular application. Also, I really like executing the same code in both the client and server.</p>

<p>If you find any problems, feel free to open an <a href="https://github.com/hendryau/Multi-User-WebSocket-Example/issues">issue</a>, or make a <a href="https://github.com/hendryau/Multi-User-WebSocket-Example/pulls">pull request</a> with a fix.</p>

<p>Thanks for reading.</p>